/*找回密码页面css样式*/
.find_main {
	width: 100%;
	height: 556px;
	border-top: 1px solid #FF2D52;
	margin-top: 28px;
	position: relative;
}
.find-main-bar {
	width: 720px;
	height: 440px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -360px;
	margin-top: -210px;
	display: none;
}
.find-main-bar.action {
	display: block;
}
/*外圆内圆*/
.strip-twig {
	padding-left: 72px;
	width: 100%;
	height: 32px;
	position: relative;
}
.strip-twig-main {
	width: 90px;
	height: 60px;
	text-align: center;
	margin-right: 155px;
}
.strip-twig-main:last-child {
	margin-right: 0;
}
.excircie {
	display: inline-block;
	width: 32px;
	height: 32px;
	position: relative;
	background: #ffc0cb;
	border-radius: 50%;
	margin-left: 0px;
}

.excircie:last-child {
	margin-right: 0;
}
.innercircle {
	display: inline-block;
	width: 24px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	color: #fff;
	background: #FF2D52;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -12px;
	margin-top: -12px;
	border-radius: 50%;
}
.excircie.find {
	background: #ebebeb;
}
.innercircle.find-bar {
	background: #cccccc;
}
/*长条*/
.strip {
	display: inline-block;
	width: 220px;
	height: 3px;
	background: #cccccc;
	position: absolute;
	left: 130px;
	top: 16px;
}
.strip.action {
	background: #FF2D52;
}
.strips {
	display: inline-block;
	width: 220px;
	height: 3px;
	background: #cccccc;
	position: absolute;
	left: 375px;
	top: 16px;
}
.strips.action {
	background: #FF2D52;
}
.telephone {
	width: 550px;
	height: 240px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -275px;
	margin-top: -120px;
	padding: 26px 36px;
}
.telephone-bar {
	color: #d0d0d0;
	height: 42px;
	position: relative;
}
.telephone-bar .telephone-numbar{
	width: 306px;
	height: 40px;
	padding-left: 30px;
}
.telephone-bar span {
	position: absolute;
	top: 10px;
	left: 130px;
}
.telephone-inpt {
	width: 180px;
	height: 40px;
	padding-left: 30px;
}
.telephone-bar .tele-butt {
	display: inline-block;
	width: 106px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	background: #FF2D52;
}
/*下一步*/
.next-step .next-step-butt{
	display: inline-block;
	width: 306px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	background: #FF2D52;
	margin-left: 66px;
}
.telepone-hint {
	width: 160px;
	height: 30px;
	position: absolute;
	left: 540px;
	top: 140px;
	color: #FF2D52;
}
.telephone-password {
	width: 306px;
	height: 40px;
	padding-left: 30px;
}
.telephone-password span {
	position: absolute;
	top: 10px;
	left: 112px;
}
/*操作成功*/
.successful {
	width: 100px;
	height: 100px;
}
.successful span {
	display: inline-block;
	color: #FF2D52;
	font-size: 82px;
	
}
.congratulation {
	width: 400px;
	height: 100px;
}
