/*
 * 封装
 *字体、颜色、背景色、行高、外边距、内边距、浮动、清除浮动、超出隐藏 
 * */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.search{
	text-align: center;
}
/*字体 常用有 12 14 16 18 20 22 24 30 36*/
.font-12{
	font-size: 12px;
}
.font-14{
	font-size: 14px;
}
.font-16{
	font-size: 16px;
}
.font-18{
	font-size: 18px;
}
.font-20{
	font-size: 20px;
}
.font-24{
	font-size: 24px;
}
.font-30{
	font-size: 30px;
}
.font-36{
	font-size: 36px;
}
/*字体颜色*/
/*主色调*/
/*字体 灰色 333 666 999 aaa 000 ddd ccc #ff6600*/
.text-main{
	color: #ff2d52;
}
.text-main-active{
	color: #ec193e;
}
.text-dark{
	color: #333;
}
.text-darksix{
	color: #666;
}
.text-graylight{
	color: #999;
}
.text-blackdark{
	color: #aaa;
}
.text-blak {
	color: #000;
}
.text-white {
	color: white;
}
.text-ddd {
	color: #dddddd;
}
.text-threeC {
	color: #CCCCCC;
}
.text-orvg {
	color: #ff6600;
}
/*背景色 f1f1f1 f2f2f2 f7f7f7*/
.bg-main{
	background: #f1f1f1;
}
.bg-grak{
	background: #f2f2f2;
}
.bg-graks{
	background: #F7F7F7;
}
.bg-black{
	background: #535353;
}
.bg-main-m {
	background: #FF2D52;
}
.bg-red{
	background: #EC193E;
}
/*行高 22 24 36 48*/
.line-22{
	line-height: 22px;
}
.line-24{
	line-height: 24px;
}
.line-36{
	line-height: 36px;
}
.line-48{
	line-height: 48px;
}
/*浮动*/
.float-l{
	float: left;
}
.float-r{
	float: right;
}
/*清除浮动*/
/*after before 伪元素*/
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}

/*外边距 5 10 15 20 25 30*/

.margin{
	margin: 0px auto;
}

.margin-5{
	margin: 5px;
}
.margin-5-l{
	margin-left: 5px;
}
.margin-5-t{
	margin-top: 5px;
}
.margin-5-r{
	margin-right: 5px;
}
.margin-5-b{
	margin-bottom: 5px;
}
.margin-5-lr{
	margin: auto 5px;
}
.margin-5-tb{
	margin: 5px auto;
}

/*10*/
.margin-10{
	margin: 10px;
}
.margin-10-l{
	margin-left: 10px;
}
.margin-10-t{
	margin-top: 10px;
}
.margin-10-r{
	margin-right: 10px;
}
.margin-10-b{
	margin-bottom: 10px;
}
.margin-10-lr{
	margin: auto 10px;
}
.margin-10-tb{
	margin: 10px auto;
}
/*15*/
.margin-15{
	margin: 15px;
}
.margin-15-l{
	margin-left: 15px;
}
.margin-15-t{
	margin-top: 15px;
}
.margin-15-r {
	margin-right: 15px;
}
.margin-15-b{
	margin-bottom: 15px;
}
.margin-15-lr{
	margin: auto 15px;
}
.margin-15-tb{
	margin: 15px auto;
}

.margin-20{
	margin: 20px;
}
.margin-20-l{
	margin-left: 20px;
}
.margin-20-t{
	margin-top: 20px;
}
.margin-20-r{
	margin-right: 20px;
}
.margin-20-b{
	margin-bottom: 20px;
}
.margin-20-lr{
	margin: auto 20px;
}
.margin-20-tb{
	margin: 20px auto;
}

.margin-25{
	margin: 25px;
}
.margin-25-l{
	margin-left: 25px;
}
.margin-25-t{
	margin-top: 25px;
}
.margin-25-r{
	margin-right: 25px;
}
.margin-25-b{
	margin-bottom: 25px;
}
.margin-25-lr{
	margin: auto 25px;
}
.margin-25-tb{
	margin: 25px auto;
}

.margin-30{
	margin: 30px;
}
.margin-30-l{
	margin-left: 30px;
}
.margin-30-t{
	margin-top: 30px;
}
.margin-30-r{
	margin-right: 30px;
}
.margin-30-b{
	margin-bottom: 30px;
}
.margin-30-lr{
	margin: auto 30px;
}
.margin-30-tb{
	margin: 30px auto;
}

/*内边距 5 10 15 20 25 30*/
.padding-5{
	padding: 5px;
}
.padding-5-l{
	padding-left: 5px;
}
.padding-5-t{
	padding-top: 5px;
}
.padding-5-r{
	padding-right: 5px;
}
.padding-5-b{
	padding-bottom: 5px;
}
.padding-5-lr{
	padding: auto 5px;
}
.padding-5-tb{
	padding: 5px auto;
}

.padding-10{
	padding: 10px;
}
.padding-10-l{
	padding-left: 10px;
}
.padding-10-t{
	padding-top: 10px;
}
.padding-10-r{
	padding-right: 10px;
}
.padding-10-b{
	padding-bottom: 10px;
}
.padding-10-lr{
	padding: auto 10px;
}
.padding-10-tb{
	padding: 10px auto;
}
.padding-15{
	padding: 15px;
}
.padding-15-l{
	padding-left: 15px;
}
.padding-15-t{
	padding-top: 15px;
}
.padding-15-r{
	padding-right: 15px;
}
.padding-15-b{
	padding-bottom: 15px;
}
.padding-15-lr{
	padding: auto 15px;
}
.padding-15-tb{
	padding: 15px auto;
}
.padding-20{
	padding: 20px;
}
.padding-20-l{
	padding-left: 20px;
}
.padding-20-t{
	padding-top: 5px;
}
.padding-20-r{
	padding-right: 20px;
}
.padding-20-b{
	padding-bottom: 20px;
}
.padding-20-lr{
	padding: auto 20px;
}
.padding-20-tb{
	padding: 20px auto;
}
.padding-25{
	padding: 25px;
}
.padding-25-l{
	padding-left: 25px;
}
.padding-25-t{
	padding-top: 25px;
}
.padding-25-r{
	padding-right: 25px;
}
.padding-25-b{
	padding-bottom: 25px;
}
.padding-25-lr{
	padding: auto 55px;
}
.padding-55-tb{
	padding: 55px auto;
}
.padding-30{
	padding: 30px;
}
.padding-30-l{
	padding-left: 30px;
}
.padding-30-t{
	padding-top: 30px;
}
.padding-30-r{
	padding-right: 30px;
}
.padding-30-b{
	padding-bottom: 30px;
}
.padding-30-lr{
	padding: auto 30px;
}
.padding-30-tb{
	padding: 30px auto;
}
.sup:hover {/*鼠标悬停时*/
	color: red;
	text-decoration: underline;
}
.sup:active {/*鼠标点击不放时*/
	color: blue;
	text-decoration: none;
}
.lint-through {/*添加删除线*/
	text-decoration: line-through;
}
/*超出隐藏*/
.overflow{
	overflow: hidden;//超出的文本隐藏
	text-overflow: ellipsis;//溢出用省略号显示
	white-space: nowrap;//溢出不换行
}
.overflow-tow{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;//作为弹性伸缩盒子模型显示.
	-webkit-box-orient: vertical;//设置伸缩盒子的子元素排列方式--从上到下垂直排列
	-webkit-line-clamp: 2;//显示行
}

/*文字超出以三个点形式隐藏 一行隐藏*/
.text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	/*不允许换行*/
	white-space: nowrap;
}
/*文字超出以三个点形式隐藏 多行行隐藏*/
.text-ellipsis-tow {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;//作为弹性伸缩盒子模型显示.
	-webkit-box-orient: vertical;//设置伸缩盒子的子元素排列方式--从上到下垂直排列
	-webkit-line-clamp: 5;//显示行
}

li{
	list-style-type: none;
}
/*字体对齐方式*/
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}

/*按钮*/
.button {
	display: inline-block;
	background: #fff;
	border: 1px solid #e2e2e2;
	border-radius: 5px;
	padding: 5px 10px;
	cursor: pointer;
}
/*.button-main {
	color: #fff;
	background: #FF2D52;
	border-color: #FF2D52;
}*/
.button.button-main , .button-main-hover:hover{
	color: #fff;
	background: #FF2D52;
	border-color: #FF2D52;
}
.button.button-main-bar {
	color: #fff;
	background: #999999;
	border-color: #999999;
}
.button.button-main:hover {
	background-color: #EC193E;
	border-color: #EC193E;
}
/*行间距*/
.lint-heght-18{
	line-height: 18px;
}


/*页面底端按钮*/

/*按钮*/
.container-buttom {
	float: left;
	height: 74px;
	width: 902;
	text-align: right;
	margin-right: 0;
	position: relative;
}
.container-buttom-bt-one:hover {
	background: #F2F2F2;
}
.container-buttom-bt-tow:hover {
	background: #FF2D52;
	color: white;
}

